In [10]:
library(plink2R)
genotype <- read_plink('filter2_Q600_SNPs_joint_216_addID',impute='none')
rownames(genotype$bed) <- sapply(strsplit(rownames(genotype$bed),":"),function(x)x[1])

In [8]:
eqtl <- 'Chr05_90700977'
g1 <- genotype$bed[,eqtl]

g1_df <- data.frame(sample=names(g1),genotype=as.character(unname(g1)),stringsAsFactors = F)

subset(g1_df,sample %in% c('J85','J98'))

  sample genotype
1 J100   0
2 J101   2
3 J10-2  0
4 J102   0
5 J103   0
6 J104   2

    sample genotype
202 J85    0
215 J98    2

In [9]:
# 0是A2
base <- subset(genotype$bim,V2==eqtl)
base0 <- paste0(base$V6,base$V6) # 0对应A2
base2 <- paste0(base$V5,base$V5)

base0
base2

[1] "AA"

[1] "TT"